// Breakpoints
$breakpoints: (
	sm: 640px,
	md: 768px,
	lg: 1024px,
	xl: 1280px
);

@mixin response($breakpoint) {
	@if map-has-key($breakpoints, $breakpoint) {
		@media screen and (min-width: map-get($breakpoints, $breakpoint)) {
			@content;
		}
	} @else {
		@warn "Breakpoint '#{$breakpoint}' not found in \$breakpoints map.";
	}
}