@use './variables' as *;
@use './breakpoints' as *;
$display-types: none, block, inline-block, inline, flex, inline-flex, grid;

@each $type in $display-types {
    .d-#{$type} {
      display: $type;
    }
}

@each $breakpoint, $size in $breakpoints {
  @media (min-width: #{$size}) {
    @each $type in $display-types {
      .d-#{$breakpoint}-#{$type} {
        display: $type;
      }
    }
  }
}