@use './variables' as *;
@use './breakpoints' as *;

$align-items-values: baseline, center, start, end;
$justify-contents-values: baseline, center, start, end, space-between, space-around;
$flex-directions: column, row;

@each $value in $align-items-values {
    .align-items-#{$value} {
        align-items: $value;
    }
}

@each $value in $justify-contents-values {
    .justify-contents-#{$value} {
        justify-content: $value;
    }
}

@each $name, $value in $space-values {
    .gap-#{$name} {
		gap: #{$value};
    }

    .row-gap-#{$name} {
        row-gap: #{$value};
    }

    .column-gap-#{$name} {
        column-gap: #{$value};
    }
}

@each $direction in $flex-directions {
	.flex-#{$direction} {
		flex-direction: $direction;
	}
}

@each $breakpoint, $size in $breakpoints {
	@media (min-width: #{$size}) {
		@each $direction in $flex-directions {
			.flex-#{$breakpoint}-#{$direction} {
				flex-direction: $direction;
			}
		}
	}
}

.flex-wrap {
	flex-wrap: wrap;
}