@use './_variables' as *;
@use './breakpoints' as *;

.container {
	width: 100%;
	max-width: $content-max-width;
	margin: 0 auto;
	padding: $space-base;
}

.common-paragraph {
	font-size: $font-size-base;
	line-height: 24px;
}
