// Color
$color-neutral-1000: #efefef;
$color-neutral-900: #d7d7d7;
$color-neutral-800: #bfbfbf;
$color-neutral-700: #a7a7a7;
$color-neutral-600: #8f8f8f;
$color-neutral-500: #787878;
$color-neutral-400: #606060;
$color-neutral-300: #484848;
$color-neutral-200: #303030;
$color-neutral-100: #181818;
$color-neutral-0: #000000;

$color-background-container: $color-neutral-1000;
$color-text-default: $color-neutral-200;
$color-text-secondary: $color-neutral-600;
$color-text-tertiary: $color-neutral-700;

// Typography
$font-size-xs: 8px;
$font-size-sm: 10px;
$font-size-base: 12px;
$font-size-md: 14px;
$font-size-lg: 16px;
$font-size-xl: 18px;
$font-weight-100: 100;
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-800: 800;


// Space
$space-xxs: 2px;
$space-xs: 4px;
$space-sm: 8px;
$space-base: 12px;
$space-md: 16px;
$space-lg: 20px;
$space-xl: 24px;
$space-xxl: 32px;
$space-3xl: 48px;

$space-values: (
    "space-xxs": $space-xxs,
    "space-xs": $space-xs,
    "space-sm": $space-sm,
    "space-base": $space-base,
    "space-md": $space-md,
    "space-lg": $space-lg,
    "space-xl": $space-xl,
    "space-xxl": $space-xxl,
);

// Radius
$radius-xxs: 2px;
$radius-xs: 4px;
$radius-sm: 8px;
$radius-base: 10px;
$radius-md: 12px;
$radius-lg: 24px;
$radius-circle: 999px;

// ZIndex
$z-index-common-modal: 999;
$z-index-common-fixed: 900;