// Layout
$content-max-width: 1700px;

// Color
$color-white: #ffffff;
$color-neutral-950: #F2F2F2;
$color-neutral-900: #E5E5E5;
$color-neutral-850: #D9D9D9;
$color-neutral-800: #CCCCCC;
$color-neutral-700: #B2B2B2;
$color-neutral-600: #999999;
$color-neutral-500: #808080;
$color-neutral-400: #666666;
$color-neutral-300: #4D4D4D;
$color-neutral-200: #333333;
$color-neutral-100: #1A1A1A;
$color-neutral-50: #0D0D0D;
$color-neutral-0: #000000;

$color-background-container: $color-neutral-950;
$color-text-default: $color-neutral-200;
$color-text-secondary: $color-neutral-600;
$color-text-tertiary: $color-neutral-700;

// Typography
$font-size-xxs: 10px;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-base: 16px;
$font-size-md: 20px;
$font-size-lg: 24px;
$font-size-xl: 28px;
$font-size-xxl: 32px;
$font-size-3xl: 36px;
$font-size-4xl: 40px;

$font-weight-100: 100;
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-800: 800;


// Space
$space-xxs: 2px;
$space-xs: 4px;
$space-sm: 8px;
$space-base: 12px;
$space-md: 16px;
$space-lg: 20px;
$space-xl: 24px;
$space-xxl: 28px;
$space-3xl: 32px;
$space-4xl: 36px;
$space-5xl: 40px;
$space-6xl: 48px;

$space-values: (
    "space-xxs": $space-xxs,
    "space-xs": $space-xs,
    "space-sm": $space-sm,
    "space-base": $space-base,
    "space-md": $space-md,
    "space-lg": $space-lg,
    "space-xl": $space-xl,
    "space-xxl": $space-xxl,
	"space-3xl": $space-3xl,
	"space-4xl": $space-4xl,
	"space-5xl": $space-5xl,
	"space-6xl": $space-6xl,
);

// Radius
$radius-xxs: 2px;
$radius-xs: 4px;
$radius-sm: 8px;
$radius-base: 10px;
$radius-md: 12px;
$radius-lg: 24px;
$radius-round: 999px;

// Opacity
$opacity-50: 0.5;

// ZIndex
$z-index-common-modal: 999;
$z-index-common-fixed: 900;